.root {
    -fx-background-color: #fafaf6;
}
.label {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: #3d6cb9;
    -fx-opacity: 0.6;
}

.label-bright {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: #3d6cb9;
    -fx-opacity: 1;
}

.label-header {
    -fx-font-size: 32pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: #3d6cb9;
    -fx-opacity: 1;
}

.table-view {
    -fx-base: white;
    -fx-control-inner-background: #f8f9fc;
    -fx-background-color: #f8f9fc;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 35;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-border-color:
            transparent
            transparent
            derive(-fx-base, 80%)
            transparent;
    -fx-border-insets: 0 10 1 0;
}

.table-view .column-header .label {
    -fx-font-size: 16pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: #3d6cb9;
    -fx-alignment: center-left;
    -fx-opacity: 1;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color;
}

.split-pane:horizontal > .split-pane-divider {
    -fx-border-color: transparent white transparent white;
    -fx-background-color: transparent, derive(white,20%);
}

.split-pane {
    -fx-padding: 1 0 0 0;
}

.menu-bar {
    -fx-background-color: derive(#1d1d1d,20%);
}

.context-menu {
    -fx-background-color: derive(#1d1d1d,50%);
}

.menu-bar .label {
    -fx-font-size: 14pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-opacity: 0.9;
}

.menu .left-container {
    -fx-background-color: #de3c3c;
}

.text-field {
    -fx-font-size: 10pt;
    -fx-font-family: "Segoe UI Semibold";
}
.tab-pane:top .tab-header-area .tab-header-background{
    -fx-padding: 5 22 5 22;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-text-fill: #d8d8d8;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}
.tab-pane{
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;
    -fx-background-radius: 0;
}
.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-border-color: transparent;
}
.tab{
    -fx-padding: 5 22 5 22;
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: #3d6cb9;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-text-fill: white;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}
.tab:selected {
    -fx-background-color: #27467a;
}
#tab-text{
    -fx-text-fill: white;
}


.choice-box{
    -fx-padding: 4 12 4 12;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: #3d6cb9;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;

}
.choice-box .label {
	-fx-pref-width: 160;
	-fx-text-fill: white;
}

.button {
    -fx-padding: 5 22 5 22;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: #3d6cb9;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-text-fill: white;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.button:hover {
    -fx-background-color: #27467a;
}

.button:pressed, .button:default:hover:pressed {
    -fx-background-color: #4a79c9;
    -fx-text-fill: white;
}

.button:focused {
}

.button:disabled, .button:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: #1d1d1d;
    -fx-text-fill: white;
}

.button:default {
    -fx-background-color: -fx-focus-color;
    -fx-text-fill: #ffffff;
}

.button:default:hover {
    -fx-background-color: derive(-fx-focus-color,30%);
}
#tab-rot *.tab-label .label{
    -fx-rotate: 90;
    -fx-text-fill: white;
    -fx-opacity: 1;

}
#text-title{
	-fx-opacity: 1;
	-fx-font-size: 12pt;
}
#text-h{
    -fx-text-fill: white;
    -fx-opacity: 1;
}

#tab-rot{
    -fx-padding: 12 12 12 12;
    -fx-pref-width: 96;
    -fx-pref-height: 96;
}